{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color: #000"> German Family Reunion Visa to Join a Relative or Partner in Germany</h2><br><br>

          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
        </div>
        <br>

        <div class="section-title-details">
          <h4></h4>
          <p>Third country nationals legally residing in Germany often wish to bring over their non-German family members who reside outside the European Union, whether to remain there temporarily or permanently. The Immigration Authorities in
            Germany, who support the reunification of families, have established a special visa for this purpose, which non-EU nationals can apply for to join their family member in Germany.
          </p>
          <p>If a national of the European Union, the European Economic Area or the European Free Trade Association wished to join their family members, spouse or relative in Germany, all they have to do is to be able to financially maintain
            themselves. They can work without the need to obtain a work permit or a residence permit.
          </p>
          <p>On the other hand, third country nationals will have to obtain a Family Reunion visa, which is a long-stay visa that can later be extended to a residence permit.
          </p>
        </div>
        <br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Eligible Applicants for a German Family Reunion Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Spouse (husband/wife), registered partner of a foreigner residing in Germany
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Children of a third-country nationals in Germany</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Parents of legal resident in Germany</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Other relatives of a foreigner residing in Germany</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Germany Family Reunion Visa Requirements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-7">How to apply for a Germany Family Reunion Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-8">Germany Family Reunion Visa Fee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-9">German Family Reunion Visa Processing Time</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-10">Working in Germany on a Family Visa</a>
              </li>

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Eligible Applicants for a German Family Reunion Visa</h3>
                    <p>In order for one to be able to obtain the National Family Reunion Visa, whether a marriage visa, fiance visa, spouse visa or for other family members, he or she must be a relative of the resident in Germany, as well as to
                      fulfill some other eligibility criteria. Whereas the main criterion for the German resident is that, he or she must be able to financially sponsor their third-world country relative.
                      Following we have listed the categories of family members that can apply to join their family member in Germany:

                    </p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
                </div>
              </div>


              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Spouse (husband/wife), registered partner of a foreigner residing in Germany</h3>
                    <p>Third-country nationals who are legally residing in Germany can bring over their spouse or registered partner in Germany if they both fulfill some conditions. To be able to obtain the spouse visa, the German resident must be in
                      possession of either:</p>
                    <ul style="list-style-type: square">
                      <li>of a settlement permit which is either:</li>
                      <ul style="list-style-type:circle">
                        <li>an EU long-term residence permit,</li>
                        <li>a residence permit or</li>
                        <li>an EU Blue Card</li>
                      </ul>
                      <li>capable of financing the other partner / spouse</li>
                      <li>must be over 18</li>
                      <li>must know German</li>
                    </ul>
                    <p>On the other hand the immigrating person who wishes to enter Germany under a spouse visa must:
                    </p>
                    <ul style="list-style-type:square">
                      <li>be over 18</li>
                      <li>have at least some basic German knowledge</li>
                    </ul>
                    <p>Keep in mind that the Federal Republic of Germany does not recognize polygamous marriages, therefore if the resident has already brought one partner in Germany, he or she will not be permitted to bring another to join them.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Children of a third-country nationals in Germany</h3>
                    <p>A parent (or both parents) residing in Germany are permitted to apply to bring their children to live with them in Germany. However, the requirements of such visa may change depending on the age of the children.</p>
                    <h5>Minor Children</h5>
                    <p>If both parents reside in Germany then they can apply to bring their child over. On the other hand, a single parent is permitted to bring their minor child in Germany if he or she has the sole right of care and custody of the
                      child. In case the parents share the right of care and custody of the child and only one of them resides in Germany, then the third-country resident parent must grant to the German resident the right of custody in order for him
                      or her to be able to apply for a German Family Reunification visa.</p>
                    <h5>Adult Children</h5>
                    <p>A parent can apply to bring their adult child over, only if ‘unavoidable hardship’ will be prevented as a result. The child must not be married in order to be eligible for a Family Reunion Visa. However that does not mean that
                      she / he cannot apply for another kind of visa as, German visitor / tourist visa, student visa to study at a German educational institution, employment visa to work in Germany or other German visas.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Parents of legal resident in Germany</h3>
                    <p>Parents of minor children legally residing in Germany, can apply to join their child, if they possess the right of care and custody of the child.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Other relatives of a foreigner residing in Germany</h3>
                    <p>Other family members can also apply to join their relatives: if you have siblings in Germany, either brother or sister, uncle, aunt, niece, nephew, grandparent, or cousins you can apply to join them. Usually these visas are
                      harder to obtain, and are usually issued mostly with the purpose of preventing some kind of hardship.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Germany Family Reunion Visa Requirements</h3>
                    <p>In order to get the visa, you will have to submit some documents at the Germany embassy or consulate that is the closest to your home.
                    </p>
                    <p>Generally required documents for a German visa are as following:</p>
                    <ul style="list-style-type:disc">

                      <li> <a href="https://www.germany-visa.org/passport-requirements/"><b>Applicant’s passport</b></a> – valid for at least three more months beyond the period of stay applied for, and no older than 10 years</li>
                      <li><b>Two application forms </b>– duly completed with honest and correct information</li>
                      <li><b>Two completed and signed notification / explanation forms</b></li>
                      <li><a href="https://www.germany-visa.org/visa-photo-requirements/"><b>Two recent biometric photos</b></a> – according to the standards set by the ICAO</li>
                      <li><a href="https://www.germany-visa.org/flight-itinerary-visa-application/"><b>Travel booking</b></a> – which is a booked ticket from your home country to Germany
                      </li>
                      <li><a href="https://www.germany-visa.org/travel-health-insurance/"><b>Travel Health Insurance for Germany</b></a> – which covers applicant’s stay in the whole territory of Germany
                      </li>
                      <li><a href="https://www.germany-visa.org/invitation-letter/"><b>Proof of financial means</b></a>- that usually should be submitted by the person residing in Germany, showing he or she can financially support the immigrating
                        family member. However, if the third-country resident has enough funds to support himself/herself then she or he can submit documents, which show that.</li>
                      <li><b>Invitation letter</b> – from the family member who is residing in Germany, confirming they have room for the person wishing to join them</li>
                    </ul>
                    <h5>Required documents for German family reunification visa:</h5>
                    <ul style="list-style-type:disc">
                      <li>Proof of accommodation – that shows the resident in Germany has enough space at their home in Germany for the applicant
                      </li>
                      <li>Proof of German language skills at least level A1 of the applicant</li><br>
                      <h6><b>Spouse / registered partner:</b></h6>
                    <ul style="list-style-type:disc">

                      <li>a registration or marriage certificate attested by a foreign officer, translated into German and legalized by the Germany embassy</li>
                      <li>if the spouse is of German nationality, then a copy of the German spouse’s passport and identity card must be submitted
                      </li>
                      <li>if the spouse is a non-German residing in Germany, proof of legal residence and their passport must be submitted
                      </li>
                    </ul>

                    <h6><b>Children:</b></h6>
                    <ul style="list-style-type:disc">

                      <li>birth certificate
                      </li>
                      <li>proof of child’s nationality</li>
                      <li>proof of the right of care and custody of the parent residing in Germany</li>

                      <p>Remember that all documents must be submitted in either German or English. If the documents are issued in your language, then you will have to provide each of them attached with an attested and legalized translation.</p>
                    </ul>
                  </ul>

                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-7">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>How to apply for a Germany Family Reunion Visa</h3>
                    <p>The <a href="https://www.germany-visa.org/application-process/">application process of a Germany visa</a> to join your family members there is similar to the application process for every other German visa. Firstly, check with
                      the German embassy in your home country (if you are the one wishing to join a family member in Germany), if they have in their website a checklist of the required documents one has to submit for the German family reunification
                      visa. If not, require the checklist through email. Upon having it in your hand, start gathering the required documents.
                    </p>
                    <p>Be careful to obtain all documents as described in the checklist. They must be in either English or German. If the original documents are issued in your own language, then you will have to submit them alongside a translation by
                      a certified translator.
                    </p>
                    <p>Once you have all documents in your hands, appoint a meeting at the German embassy or consulate (or application center if you find one closer to your home).</p>
                    <p>On the day of the interview, show up on time at German embassy or consulate, with all the documents with you. Pay the visa fee, and then meet the consular officer with whom you will have a short conversation about you, your
                      background, and the real purpose behind your planned travel to Germany.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-8">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Germany Family Reunion Visa Fee</h3>
                    <p>You will have to pay a visa fee when you attend the interview in order for your application to be processed. Normally, family reunion long-term visa (category D) costs 75,00 Euro for adults and for children up to 18 years 37,50
                      Euro.</p>
                    <p>Keep in mind that if you decide to withdraw your application after you pay the fee, you will not be able to get your money back. Also, if your visa application is rejected, you will not be reimbursed. If you decide to reapply
                      for a Germany family reunification visa you will have to pay the fee again.
                    </p>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-9">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>German Family Reunion Visa Processing Time</h3>
                    <p>Depending on your case, the processing can take just a few weeks, to months. Therefore, take care to schedule an appointment on time. If at the time the embassy is receiving a lot of applications, your appointment will be
                      scheduled for later, whereas if the applications received at the time are few, then you will get an appointment within several days.

                    </p><br>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-10">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Working in Germany on a Family Visa</h3>
                    <p>According to the German law every adult that comes to Germany on a Family Reunion visa and settles, should be permitted to work. However, there are a few conditions that the relative they are joining shall meet, as follows:
                    </p>
                    <ul style="list-style:disc">
                      <li>He / she has a residence permit authorizing employment for themselves.</li>
                      <li>He / she holds an EU Blue Card</li>
                      <li>He / she is in Germany as a researcher or a highly skilled person.</li>
                    </ul>
                    <p>Of course, the immigrating family member also needs to have the necessary qualifications.
                    </p><br>
                  </div>
                </div>
              </div>

            </div>

          </div>
    </section>

  </section>



</main>


{% endblock %}
