{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color: #000"> STUDY VISA</h2><br><br>

          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
        </div>
        <br>

        <div class="section-title-details">
          <h4></h4>
          <p>Germany is a place to be when it comes to the quality of higher education, research infrastructure, teaching methodology, low-cost studies, and career prospect. That is why many internationals continue to believe that Germany is the best
            place for pursuing their higher education further.
          </p>
          <p>On the other hand, not every foreign person is able to pursue such a dream, right away. This because several nationalities are NOT allowed to enter and stay in the territory of Germany without enjoying the appropriate German Visa.
          </p>
          <p>In our case, a visa needed is the authorizing official document required to permit a non-German national to enter and stay in the territory of Germany for the purpose of studying, in a specific intended period.
          </p>
          <ul>Therefore, being a foreigner who:
            <li>Just received the Acceptance Letter from a German University,</li>
            <li>Soon is expected to get A Response on his/her University Application in a University in Germany,</li>
            <li>Has to Enroll in A Foundation Course before applying in a German University,</li>
            <li>Needs to Take a Foundation Course (Studienkolleg) to prepare for the test “Feststellungsprüfung” – qualification assessment examination
            </li>
            <li>Needs to Complete a Doctoral Degree
            </li>
            <li>Wants to Engage in a Research Project in Germany</li>
          </ul>
          <p>In case you will need to remain in the territory of Germany for more than 90 DAYS, or 3 MONTHS, you will be called to also get a Residence Permit early enough after the arrival in Germany.
          </p>
          <p>Speaking of the appropriate time, there is no fixed period where you should make the visa application, but it is highly suggested to do it early enough in advance from your planned travel to Germany.
          </p>
          <p>Typically, 3 (three) months before the start of planned studies, worked suitably for many who already went through the same experience.</p>
          <p>But, let us together see what else you need to know about getting a German Visa for study purposes.</p>
        </div>
        <br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Which are German Visa Types for Study Purposes?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Where and How to Apply for a Germany Study Visa?
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Leave A Visa Appointment Soon ENOUGH! </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Visa Interview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Registration at the Resident’s Registration Office</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Important Things To Know as a German Visa applicant and/or Holder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-7">Germany Student Visa Fee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-8">How long does it take for a German student visa to process?</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Which are German Visa Types for Study Purposes?</h3>
                    <p>As we explained earlier, whenever you want to travel to Germany for study purposes, you have to apply for the appropriate German Visa, related to the purpose of your travel and stay there – studying.
                    </p>
                    <p>There are three types of visas meant for people intending to pursue educational activities in Germany:</p>
                    <ol style="list-style-type:upper-number">
                      <li class="font-italic"> <a href="https://www.germany-visa.org/student-visa/language-course/">Language Course Visa (Visa for Language Learning)</a> – for educational activities lasting from 3 months up to 1 year, for the purpose
                        of participating in short German language courses.</li>
                      <li class="font-italic"><a href="https://www.germany-visa.org/student-visa/student-applicant-visa/"> Student Applicant Visa (Visum Zur Studienbewerbung)</a>- if you want to study in Germany, but are still trying to find the
                        right program or you still haven’t got the confirmation letter from your University</li>
                      <li class="font-italic"><a href="https://www.germany-visa.org/student-visa/student-visa-visum-zu-studienzwecken/">Student Visa (Visum Zu Studienzwecken)</a>- if you have already been accepted to a German university.</li>
                    </ol>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Where and How to Apply for a Germany Study Visa?</h3>
                    <p>As we stated earlier, the place where you should apply for your visa is the German Embassy or Consulate in your country.</p>
                    <p>First, you need to schedule an appointment for a visa interview. On the day of the interview, you should offer your visa application documents.</p>
                    <p>Additionally, you will need to respond to the interview questions that the consular officer prepares in order to closely examine you as a potential visa candidate.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Leave A Visa Appointment Soon ENOUGH!</h3>
                    <p>Before doing anything else, in order to apply for the Student Schengen Visa, you need to set up a visa appointment at the German Embassy or Consulate in your country!
                    </p>
                    <p>Check up for the available dates and make the appointment in the online system on the website of the German Embassy or Consulate in your country, soon after you will be able to plan your departure time.</p>
                    <p></p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Visa Interview</h3>
                    <p>Visa interview is the moment where you meet with the consular officer directly as a visa applicant. The same time you need to present all the visa required documents, as your consular officer asks for them orderly. During a visa appointment, the officer also makes you questions about the application, as well as personal ones which you have to answer carefully and truthfully.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Registration at the Resident’s Registration Office</h3>
                    <p>Foreigners who seek to remain in Germany for more than 2 MONTHS they must get the Confirmation on Registration “Meldebestätigung”. To get such a confirmation a foreigner must apply at the local Resident’s Registration Office or “Einwohnermeldeamt”.</p>
                    <p>Foreigners who seek to remain in Germany for more than 90 DAYS or 3 MONTHS you need to possess the proper residence title. In our case a Residence Permit “Aufenthaltsgenehmigung” is the appropriate title, intended for study purposes. A residence permit will be issued only upon the application of the visa holder at the Alien Registration Office  “Ausländerbehörde“ in the city where your university is located.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Important Things To Know as a German Visa applicant and/or Holder</h3>
                      <ul style="list-style-type:disc">
                        <li>Additional documents can be required by the visa officer upon the visa interview</li>
                        <li>Appear in person in the visa interview</li>
                        <li>Be cautious about your passport validity- it needs to be valid for your entire period of stay, including the expected extended period</li>
                        <li>Bear in mind that the incomplete visa application can be refused</li>
                        <li>Do not stick your photographs in the visa application form</li>
                        <li>Don’t take anyone with you to the Embassy or Consulate during a visa interview</li>
                        <li>Every applicant is authorised to take legal actions against the embassy or consulate decision on her/his visa application</li>
                        <li>Getting your Visa For Study Purposes is important, instead of a Tourist Visa -because it gives you the opportunity to get a residence permit once in Germany REMEMBER that a Tourist Visa cannot be extended further while in Germany, in case you need to stay longer!</li>
                        <li>If the applicant is considered to represent a risk for the security and public order of the Schengen Area the visa will be rejected
In case of visa rejection the applicant gets informed about the main reason of rejection</li>
                        <li>Make sure for your trip to Germany to be scheduled early enough so you will have the needed time in disposition to enrol in university</li>
                        <li>Original documents can be required upon the arrival at the airport</li>
                        <li>Germany study visa is not automatically given – so you have to wait for up to 4 MONTHS to get a response from the Embassy or Consulate and there is no guarantee you will be granted with a visa</li>
                        <li>The application form can be downloaded freely on the website of the Embassy or Consulate in your country</li>
                        <li>The passport remains at the Embassy / Consulate during the entire process of visa proceeding</li>
                        <li>Visa appointments should be made only through the online system (not by phone, e-mail, fax or in-person)</li>
                        <li>Visa Fee will not be reimbursed in case of visa refusal</li>

                      </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-7">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Germany Student Visa Fee</h3>
                      <p><b>The fee for Germany student visa application is 75,- EUR.</b></p>
                      <p>Student applicants have to pay the visa fees by a bank transfer. Cheques or credit cards are not accepted. The money order must be in the name of the Embassy/Consulate in your home country and not older than two months.
</p>
                    <p>Please be aware that you will not get reimbursed the visa fee if your application for a student visa gets rejected.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-8">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>How long does it take for a German student visa to process?</h3>
                    <p>The processing time for a Germany long-stay study visa may take from 6-12 weeks from the application day. While Germany short-stay study visas are usually decided within 15-30 days by the German missions abroad</p>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Registration at the Resident’s Registration Office</h3>
                    <p>Foreigners who seek to remain in Germany for more than 2 MONTHS they must get the Confirmation on Registration “Meldebestätigung”. To get such a confirmation a foreigner must apply at the local Resident’s Registration Office or “Einwohnermeldeamt”.</p>
                    <p>Foreigners who seek to remain in Germany for more than 90 DAYS or 3 MONTHS you need to possess the proper residence title. In our case a Residence Permit “Aufenthaltsgenehmigung” is the appropriate title, intended for study purposes. A residence permit will be issued only upon the application of the visa holder at the Alien Registration Office  “Ausländerbehörde“ in the city where your university is located.</p>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Registration at the Resident’s Registration Office</h3>
                    <p>Foreigners who seek to remain in Germany for more than 2 MONTHS they must get the Confirmation on Registration “Meldebestätigung”. To get such a confirmation a foreigner must apply at the local Resident’s Registration Office or “Einwohnermeldeamt”.</p>
                    <p>Foreigners who seek to remain in Germany for more than 90 DAYS or 3 MONTHS you need to possess the proper residence title. In our case a Residence Permit “Aufenthaltsgenehmigung” is the appropriate title, intended for study purposes. A residence permit will be issued only upon the application of the visa holder at the Alien Registration Office  “Ausländerbehörde“ in the city where your university is located.</p>
                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Registration at the Resident’s Registration Office</h3>
                    <p>Foreigners who seek to remain in Germany for more than 2 MONTHS they must get the Confirmation on Registration “Meldebestätigung”. To get such a confirmation a foreigner must apply at the local Resident’s Registration Office or “Einwohnermeldeamt”.</p>
                    <p>Foreigners who seek to remain in Germany for more than 90 DAYS or 3 MONTHS you need to possess the proper residence title. In our case a Residence Permit “Aufenthaltsgenehmigung” is the appropriate title, intended for study purposes. A residence permit will be issued only upon the application of the visa holder at the Alien Registration Office  “Ausländerbehörde“ in the city where your university is located.</p>
                  </div>
                </div>
              </div>



            </div>

          </div>
    </section>

  </section>

</main>



{% endblock %}
