{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color: #000">ESSENTIAL SKILLS WORK VISA</h2><br><br>

          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
        </div>
        <br>

        <div class="section-title-details">
          <h4></h4>
          <p>The Essential Skills Work visa is for skilled workers whose job is listed on the Essential Skills in Demand List. It allows you to work in the country for up to five years, but the duration may depend on your skill level. For a foreigner
            to fill a job position with this visa, the employer must prove that they could not hire a New Zealander.
          </p>
        </div>
        <br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">How to Apply</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Who Qualifies as a Skilled or Highly Skilled Worker in New Zealand?
                </a>
              </li>

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>HOW TO APPLY</h3>
                    <p>To apply for an Essential Skills work visa, you will need the following documents:
                    </p>
                    <ul>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>A job offer for a full-time position, and a copy of your employment agreement.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Your employer to prove that a New Zealander could not be hired for the position.</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> An <b>"Employer Supplementary Form"</b> describing your job offer (completed by employer). </li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>A <b>document</b> proving the necessary qualifications (original or certified copy).</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i> Occupational registration (if applicable).</li>

                    </ul>
                    <p>You also cannot be subject to a <b>stand-down period</b> (the period when you are required to spend 12 consecutive months outside of New Zealand). </p>
                    <p>Although this type of visa only intends to fill temporary skill gaps, you may still apply for residence if you gain enough points to qualify for residence under the Skilled Migrant Category. </p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Who Qualifies as a Skilled or Highly Skilled Worker in New Zealand? </h3>

                    <!-- <p>The Skillselect is designed to assess the skills of applicants under a point-based system so that immigrants with the right skills can be selected. <br></p> -->
                    <p>Your qualifications, skills, and experience will fall on one of five categories defined by the <b>Australian and New Zealand Standard Classification of Occupations (ANZSCO)</b>.</p>
                    <p>You are considered a skilled worker if: </p>
                    <ul class="">
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Your occupation is listed in <b> ANZSCO as level 1, 2 or 3</b>, it matches the description for that occupation, and you are paid more than 25 NZD (16 USD) an hour or
                        more (or the equivalent annually).</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Your occupation is listed in <b>ANZSCO as level 4 or 5</b>, it matches the description for that occupation, and you are paid more than 50 NZD (24 USD) an hour or more
                        (or the equivalent annually).</li>
                      <li class="font-italic"> <i class="icofont-check-circled"></i>Your occupation has no corresponding description, but you are paid <b>50 NZD (24 USD) an hour or more </b>(or the equivalent annually). </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

          </div>
    </section>

  </section>

</main>


{% endblock %}
