{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main"><br><br><br>
  <div class=""   style="background-color: white;
      color: black;
      border-radius: 15%;
  ">

  <section id="one" class="wrapper style1">

    <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color: #000"> GERMANY WORKING VISA</h2><br><br>
          <img style="width: 25%" src="/static/assets/img/workingvisa_icon-01.png" alt="">

          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
        </div>
        <br>

        <div class="section-title-details">
          <h4></h4>
          <p>Germany is a country of possibilities not only for Germans, but also for third-world country nationals as well. The land of invention and innovation is the fourth largest economy in the world and home to world known corporates and
            companies. As such, it offers the chance to many non-Germans to find a job and settle in the country.
          </p>
          <p>The Germany Employment Visa is an opportunity for qualified foreigners to settle in Germany and work in their field. It gives to its holder the chance to enter and work in Germany for up to two years, with the possibility of extending
            the visa, and later applying for an EU Blue Card, or other types of residence permits.
          </p>
        </div>
        <br>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Long-Stay Visa Types for Working in Germany</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Who Needs a Germany Employment Visa?
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Categories Eligible to Apply for a Germany Employment Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Visa Interview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Required Documents for a Germany Employment Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Where to Apply for a Germany Work Visa?</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-7">Processing Time for Germany Work Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-8">Arriving in Germany on a Work Visa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-9">Tips on How to Find a Job in Germany</a>
              </li>

            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Long-Stay Visa Types for Working in Germany</h3>
                    <p> You may apply for a Germany Long-Stay Visa under the purpose of working in Germany, for the following:
                    </p>
                    <ol style="list-style-type:upper-number">
                      <li class="font-italic"> <b>Employment </b> if you already have a job offer in Germany.</li>
                      <li class="font-italic"> <b>Self-Employment </b> – if you wish to establish a business in Germany or to work as a freelancer.</li>
                      <li class="font-italic"> <b>Jobseeker </b> – if you wish to look for a job while in Germany.</li>
                      <li class="font-italic"> <b>Working as an Au Pair </b> – for young adults wishing to learn more about the German culture and language.</li>
                      <li class="font-italic"> <b>Working Holiday Visa </b> – for the youngsters of several countries, that have signed a Working Holiday Visa agreements with Germany.</li>

                    </ol>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
                </div>
              </div>


              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Who Needs a Germany Employment Visa?</h3>
                    <p>Citizens of the following countries can apply for their residence permit for work purposes after entering Germany without a visa.
                    </p>
                    <ul style="list-style-type: square">
                      <li>EEA/EU member states the United States of America</li>
                      <li>Australia</li>
                      <li>Canada</li>
                      <li>Israel</li>
                      <li>Japan</li>
                      <li>New Zealand</li>
                      <li>New Zealand</li>
                      <li>the Republic of Korea</li>
                    </ul>
                    <p>Citizens of the rest of third-world countries are required to obtain a visa for work purposes before traveling to Germany. Following in this article find the procedures you need to follow, including the documents you need to
                      obtain, in order to get a Germany Employment Visa.</p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Categories Eligible to Apply for a Germany Employment Visa</h3>
                    <p>All foreign nationals can apply for a Germany Employment Visa if they fulfill the conditions to work in Germany.</p>
                    <p>According to the “Act on the Residence” that regulates the residence issue for foreigners in Germany, the categories eligible to apply for a German Employment Visa are as follows:
                    </p>
                    <ol>
                      <li>Highly qualified foreigners, in particular:</li>
                      <ul style="list-style-type: square">
                        <li>researchers with special technical knowledge</li>
                        <li>teaching personnel in prominent positions or scientific personnel in prominent positions</li>
                      </ul>
                      <li>Intra-corporate transferees, in particular:</li>
                      <ul style="list-style-type: square">
                        <li>managers</li>
                        <li>specialists</li>
                      </ul>
                    </ol>
                    <p>In addition, eligible and encouraged to apply for a Germany work visa are third-world country nationals with a university degree or a non-academic vocational qualification that fulfill the conditions listed below:
                    </p>
                    <ul style="list-style-type: square">
                      <li>There is a shortage of skilled workers in the profession you want to practice in Germany.</li>
                      <li>You have a concrete job offer.</li>
                      <li>Your education must be recognized as equivalent with a German degree.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Visa Interview</h3>
                    <p>The step-by-step application process for a Germany Work visa goes as follows:</p>
                    <ol>
                      <li>Get a job offer in Germany.</li>
                      <li>Check if you need a visa to Germany for long-stays.</li>
                      <li>Find out where you need to submit your visa application.</li>
                      <li>Collect all of the required documents according to the instructions.</li>
                      <li>Make an appointment for a visa interview.</li>
                      <li>Pay the German Employment Work visa fee.</li>
                      <li>Attend the interview.</li>
                      <li>Wait for a response on your visa application.</li>

                    </ol>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Required Documents for a Germany Employment Visa</h3>
                    <ul style="list-style-type: square">
                      <li>n order to prove to the German embassy/consulate in your country of residence that you fulfill the conditions for an employment visa, you will need to submit several documents. These documents are the crucial part of your
                        application for a German employment visa, alongside with the visa interview.</li>
                      <li>Make sure you collect all of these documents according to their given instructions.</li>
                      <li>Two fully completed application forms. Printed and signed at the end.</li>
                      <li>Two passport photographs (see our page on photo requirements for more info as there are strict requirements).
                      </li>
                      <li>Valid national passport (more information on passport requirements).</li>
                      <li>Proof of residence. Your driver’s license and/or utility bill in your name as proof of residence in the territory of the consulate where you plan to apply.
                      </li>
                      <li>Health insurance. Compulsory certificate from German employer, valid from date of employment. If not already included in the compulsory health insurance a separate travel insurance has to be presented for the time frame from
                        arrival in Germany until beginning of employment. If you are looking for great coverage for a good price, then your working health insurance awaits here!
                      </li>
                      <li>An employment contract / binding job offer with details of gross annual salary and a detailed description of the employment in Germany.</li>
                      <li>Approval by the Federal Employment Agency (If applicable).</li>
                      <li>Curriculum Vitae. Your updated CV, which indicates your academic qualifications and your job experience.</li>
                      <li>Proof of Qualification. Diplomas, Certificates, Mark-sheets etc., or anything similar that proves your qualifications.</li>
                      <li>Personal covering letter explaining the exact purpose and duration of stay.</li>
                      <li>Proof of a clean criminal record.</li>
                      <li>Proof of paid visa fee. The visa fee for a German long-stay visa is €75.</li>
                      <li>Declaration of Accuracy of Information.</li>

                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Where to Apply for a Germany Work Visa?</h3>
                    <p>You should apply for a German Employment visa at the representative body of Germany in your country of residence responsible for visa admission. This could be one of the following
                    </p>
                    <ul style="list-style-type:disc">

                      <li>The German embassy</li>
                      <li>A German consulate</li>
                      <li>A Visa Application Center</li>
                      <li>The German embassy/consulate located in a neighboring country, in absence of German representative bodies in your country of residence
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-7">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Processing Time for Germany Work Visa</h3>
                    <p>The processing time for a Germany long-stay work visa <b>may take from one to three months</b> from the application day. The processing time depends also on the number of applications the embassy is receiving at the time, as
                      well as your situation.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-8">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Arriving in Germany on a Work Visa</h3>
                    <p>After you get your German Work Visa, you can freely travel to Germany. However, there are still some procedures that you should complete upon arrival in Germany in order to obtain a Germany residence permit.</p>
                    <p>You should go to the Foreigner’s Office in Germany, located nearest to your place of residence. Some of the offices require you to make an appointment prior to your interview, while others accept walk-in applications.</p>
                    <p>You will need to attend an interview during which you will also submit the required documents for a residence permit. These documents are:</p>
                    <ul style="list-style-type:disc">
                      <li>Your national valid passport.</li>
                      <li>Your national valid passport.</li>
                      <li>Application form for a Residence Permit.</li>
                      <li>Two photos.</li>
                      <li>Report of clean criminal record.</li>
                      <li>Proof of German Language</li>
                      <li>Health Insurance Confirmation.</li>
                      <li>Proof of Job Offer.</li>
                    </ul>
                    <p>The period of time you are allowed to hold your permit is determined by your employment contract. If your contract is for 2 years, your permit will also be valid for 2 years. However, you can extend it as many times as you need
                      as long as you maintain your employment status.
                    </p>
                    <p>You can check here <a href="https://www.germany-visa.org/german-residence-permit/">How to get a German Residence Permit</a>, in order to learn more in this regard.</p>

                  </div>
                </div>
              </div>


              <div class="tab-pane" id="tab-9">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Tips on How to Find a Job in Germany</h3>
                    <p>If you want to work in Germany, but you still do not have a job, we can give you some tips in this regard. There are many vacant jobs in Germany for foreigners. You will not have it hard to find a suitable job for you,
                      especially if you have the professional qualifications.
                    </p><br>
                    <ol>
                      <li>Look for a job online</li>
                      <ul style="list-style-type:disc">
                        <li><b>Public German job sites</b> The international Placement Service (ZAV) of the German Employment Agency has information on world opportunities all across Germany. You can check for a job in their portals, email them or
                          call them for advice. Check their page for more.
                        </li>
                        <li><b>Check German recruitment websites</b> There are many online sites offering jobs for both German and foreigners. You can check the job offers there, and see if any of them suits you
                        </li>
                        <li><b>Sign on a recruitment agency in Germany-</b>You can find a list of these agencies in the German Yellow pages. Note that they will charge you a fee for signing up with them.
                        </li>
                        <li><b>Contact companies in Germany-</b> It is totally okay to write to a German company and ask them if they are planning to take in any new employees, even if they do not have any vacancy announcement.
                        </li>
                      </ul><br>
                      <li>Apply for the job you have found</li>
                      <p>After you find the job that fits you, send a job application. Usually most of the companies will ask you for the following documents:</p>
                      <ul style="list-style-type:disc">
                        <li>your CV</li>
                        <li>copies of your educational certificates</li>
                        <li>employer testimonials</li>
                        <li>samples of your work</li>
                      </ul><br>
                      <li>Attend the job interview</li>
                      <p>Many of the companies will give you the chance to attend the interview online, i.e. through Skype. However, some others have strict policies that job applicants must show in person for the interview. If that is the case, you
                        should apply for a Jobseeker visa, and attend the interview. If you get the job, you should return in your country of residence and apply for an employment visa, as explained in this article.
                      </p>
                      <p>Of course this is only a way to get a job in Germany. There are other ways as well, as getting a jobseeker visa and going to Germany to find the job in person, etc.</p>

                    </ol>
                  </div>
                </div>
              </div>


            </div>

          </div>
    </section>

  </section>


</div><br><br><br>

</main>


{% endblock %}
